<%- include('partials/header') %> 
    <% for( flight of allFlights ) { %>
      <h2>Flight: <%= flight.flightNo %> </h2>
      <a href="/flights/show/<%= flight.id %> ">Show flight details</a>
    <% } %>

    <br><br><a href="new">Add Flight</a>
<%- include('partials/footer') %> 