<%- include('../../partials/header') %> 

<form id="new-tix-form" action="/flights/tickets/new/<%= flight._id %>"  method="POST">
    <label>Seat ID:</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price</label>
    <input type="text" name="price">
    <input type="submit"  value="Add Ticket">
</form>

  <%- include('../../partials/footer') %> 